In [1]:
import pandas as pd
import numpy as np

In [2]:
all_data = pd.read_csv("L:\\Workspace\\Datasets\\ReviewsDatasets\\all_combined.csv")

In [3]:
all_data.head()

,reviewId,content,score,app
0,6aa90e7d-be9d-4615-9332-dfca8062c77b,awesome,5,Facebook
1,fe84588e-aacf-448e-8e9a-b8d77ce01c59,good,5,Facebook
2,8038ade0-929b-4447-b02d-344d146685fd,i would say it's great but meta just keeps sus...,2,Facebook
3,39b156a8-4f22-491c-b90a-a19eddbc38e7,from 2012 my fb page in active mode ..Facebook...,5,Facebook
4,048e8ffd-5b5c-447b-b9d0-4da6b6f73581,I think very good,1,Facebook

In [5]:
all_data['app'].value_counts()

app
Facebook                10000
WhatsApp                10000
Facebook Messenger      10000
Instagram               10000
TikTok                  10000
Subway Surfers          10000
Facebook Lite           10000
Microsoft Word          10000
Microsoft PowerPoint    10000
Snapchat                10000
SHAREit                 10000
Netflix                 10000
Twitter                 10000
Flipboard               10000
Candy Crush Saga        10000
Skype                   10000
Spotify                 10000
Dropbox                 10000
Viber                   10000
LINE                    10000
Name: count, dtype: int64

In [6]:
all_data.isnull().sum()

reviewId     0
content     20
score        0
app          0
dtype: int64

In [11]:
all_data.isna().sum()

reviewId     0
content     20
score        0
app          0
dtype: int64

In [14]:
# all_data[all_data['content'].isnull()]

In [15]:
all_data['content'].duplicated().sum()

np.int64(70958)

In [17]:
all_data.duplicated().sum()

np.int64(0)

In [19]:
all_data.dropna(subset=['content'],inplace=True)

In [20]:
all_data.isna().sum()

reviewId    0
content     0
score       0
app         0
dtype: int64

In [21]:
all_data.shape

(199980, 4)

In [22]:
all_data.drop_duplicates(subset=['content'], inplace=True)

In [23]:
all_data.shape

(129041, 4)

In [24]:
all_data['content'].value_counts().head()

content
Been unable to search/add a single user. Says "An unknown error has occurred. Please try again later". Can't login to the windows application not the chrome extension. I have tried logging in with phone number, email, scanning the QR, linking the account with the code.. Nothing works... So app is completely unusable since I can't even find a single person with their ids                                      1
Worst app ever regarding customer support. I recently lost access to the phone where my Line is logged in to. I can't transfer my account since they need a verification code that is being sent to the Line account I already can't access. I have been trying to contact support, but I have to do that using the inquiry form that I have to login first to which is very ironic since I can't login!!! So Idiotic!    1
cmon, I've been using this app for years and every each of update are upsetting. I accidentally uninstalled this app, and then I can't go back to my account meanwhile there's only 2 methods to sign up, google and apple so its hard for me to log in. after all it doesn't help, i lost my account                                                                                                                     1
I degraded this app from 5* to 1* because this app provides different services to few countries and different services to other countries. It is not good.                                                                                                                                                                                                                                                                1
I was not able to access my old device so I use my phone number to log in and use email to reset password and still can't log in.Everytime I type in the new password it always show wrong password try again                                                                                                                                                                                                             1
Name: count, dtype: int64

In [25]:
all_data['app'].value_counts()

app
Flipboard               8431
Netflix                 8110
LINE                    7863
Spotify                 7576
Subway Surfers          7458
Twitter                 7437
Dropbox                 7389
Skype                   7197
TikTok                  7037
Snapchat                6364
Viber                   6185
Instagram               6121
Facebook                6051
Facebook Messenger      5479
Candy Crush Saga        5362
Microsoft PowerPoint    5079
WhatsApp                5078
SHAREit                 5017
Microsoft Word          5000
Facebook Lite           4807
Name: count, dtype: int64

In [26]:
all_data['score'].value_counts()

score
5    65556
1    38026
4    10767
3     7472
2     7220
Name: count, dtype: int64

In [27]:
all_data.head()

,reviewId,content,score,app
0,6aa90e7d-be9d-4615-9332-dfca8062c77b,awesome,5,Facebook
1,fe84588e-aacf-448e-8e9a-b8d77ce01c59,good,5,Facebook
2,8038ade0-929b-4447-b02d-344d146685fd,i would say it's great but meta just keeps sus...,2,Facebook
3,39b156a8-4f22-491c-b90a-a19eddbc38e7,from 2012 my fb page in active mode ..Facebook...,5,Facebook
4,048e8ffd-5b5c-447b-b9d0-4da6b6f73581,I think very good,1,Facebook

In [29]:
all_data['review_ratings'] = all_data['score'].map(lambda x : "pos" if x in [4,5] else "neg" if x in [1,2] else "neu")
all_data.head()

,reviewId,content,score,app,review_ratings
0,6aa90e7d-be9d-4615-9332-dfca8062c77b,awesome,5,Facebook,pos
1,fe84588e-aacf-448e-8e9a-b8d77ce01c59,good,5,Facebook,pos
2,8038ade0-929b-4447-b02d-344d146685fd,i would say it's great but meta just keeps sus...,2,Facebook,neg
3,39b156a8-4f22-491c-b90a-a19eddbc38e7,from 2012 my fb page in active mode ..Facebook...,5,Facebook,pos
4,048e8ffd-5b5c-447b-b9d0-4da6b6f73581,I think very good,1,Facebook,neg

In [30]:
all_data['review_ratings'].value_counts()

review_ratings
pos    76323
neg    45246
neu     7472
Name: count, dtype: int64

In [31]:
all_data['score'].value_counts()

score
5    65556
1    38026
4    10767
3     7472
2     7220
Name: count, dtype: int64

In [32]:
all_data.to_csv('L:\\Workspace\\Models\\Review Sent Analyzer And Summarizer\\cleaned_reviews_data_20_apps.csv', index=False)